* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  background-color: #F3F0E9;
  font-family: system-ui, sans-serif;
}



.fav-main {
   width: 1440px;
  height: 1024px;
  margin: 70px auto 0;
  position: relative;
  overflow: hidden;
  
}

.fav-title {
  font-family: "Inter", system-ui, sans-serif;
  font-size: 18px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 40px;
}

.fav-hero {
  position: relative;
  width: 100%;
  height: 100%;
}


.fav-left {
  position: absolute;
   top: -42px;          /* from Figma */
  left: 60px;  
}

.fav-letter-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.fav-letter {
  position: relative;
  top: 300px;
  font-family: "NauryzRedkeds", sans-serif;
  font-weight: 700;
  font-size: 1200px;
  line-height: 0.7;
  color: #37446F;
  transform-origin: center bottom;
  transition: transform 0.2s ease-out;
}

.fav-letter-link:hover .fav-letter {
  transform: translateY(-8px);
}

.fav-tag {
  position: absolute;
  top: 180px;
  left: 16px;
  padding: 6px 16px;
  font-family: "NauryzRedkeds", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #F3F0E9;
}

.fav-right {
  position: absolute;
  left: 660px;
  top: 300px;
  width: 630px;
  height: 574px;
  font-family: "Poppins", system-ui, sans-serif;
  font-size: 24px;
  font-style: italic;
  line-height: 1.5;
  color: #37446F;
  text-align: left;
}

.fav-right p {
  margin-top: 1rem;
}

.fav-star {
  position: absolute;
  right: 180px;
  top: -100px;
  transform: rotate(109deg);
  font-family: "NauryzRedkeds", sans-serif;
  font-weight: 500;
  font-size:700px;
  line-height: 0.7;
  color: #37446F;
  pointer-events: none;
}

