*{
     box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html{
    min-height: 100vh;
    margin: 0;
    background-color: F3F0E9;
   
}

section {
  padding-block: 24px;
  padding: 40px 60px;
} 

.wrapper{
  min-height: 100vh;         
  display: flex;             
  align-items: center;        
  justify-content: center;   
  background-color: #F3F0E9; 
  padding: 40px;              
}


.hero-title{
    font-size: 64px; 
}